# Exemple de configuration de la base de données.
# Copiez ce fichier sous le nom '.env' et complétez les valeurs en local.

SUPABASE_DB_HOST=aws-0-eu-west-3.pooler.supabase.com
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.YOUR_PROJECT_ID_HERE
SUPABASE_DB_PASSWORD=YOUR_PASSWORD_HERE
